@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    local("Gilroy Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  color: #464646;
  background-color: #fff;
  /* background-image: url("../img/device-index.jpg"); */
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-navigation,
.categories-navigation,
.user-navigation,
.footer-navigation,
.footer-social,
.breadcrumbs,
.catalog-list,
.categories-list,
.services-controls,
.brands-list,
.sorting-list,
.pagination,
.filter-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-font-style,
.button-font-style {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  /* letter-spacing: 4px; */
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;
}

.main-header {
  background-color: #f7e195;
}

.categories-navigation {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #000;
  width: 200px;
}

.categories-navigation:first-of-type {
  margin-right: 40px;
}

.breadcrumbs {
  opacity: 0.3;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.popular-item {
  display: none;
}

.popular-item-active {
  display: block;
}

.heading.popular-heading {
  line-height: 56px;
}

.popular-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #000000;
}

.popular-property {
  font-size: 13px;
  line-height: 20px;
}

.heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
  margin-top: 44px;
  margin-bottom: 44px;
}

.categories-list.navigation-font-style {
  letter-spacing: 0;
  text-transform: none;
}

.categories-list {
  margin-bottom: 46px;
}

.categories-list a::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  position: relative;
  top: -35px;
  background-color: rgba(240, 196, 46, 0.5);
}

.categories-list a::after {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.categories-list a:hover::before,
.categories-list a:focus::before,
.categories-list a:active::before {
  background-color: rgb(240, 196, 46);
}

.categories-list a:active::after {
  opacity: 0.3;
}

.categories-list a {
  display: block;
  padding-top: 35px;
  position: relative;
}

.categories-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories-list .category-item-1::after {
  background-image: url("../img/popular-1.svg");
}

.categories-list .category-item-2::after {
  background-image: url("../img/popular-2.svg");
  background-position: center bottom;
}

.categories-list .category-item-3::after {
  background-image: url("../img/popular-3.svg");
}

.categories-list .category-item-4::after {
  background-image: url("../img/popular-4.svg");
}

.categories-list .category-item-5::after {
  background-image: url("../img/popular-5.svg");
}

.categories-list .category-item-6::after {
  background-image: url("../img/popular-6.svg");
}

.delivery-services-list {
  list-style-type: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
  margin-top: 67px;
  margin-bottom: 55px;
  padding-left: 35px;
}

.delivery-services-list li {
  position: relative;
}

.delivery-services-list li::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: -34px;
}

.filter-heading,
.sorting-heading,
.pagination-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-type a,
.sorting-order a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-type a:hover {
  opacity: 0.6;
}

.sorting-type a:active {
  opacity: 1;
}

.sorting-type.sorting-active a,
.sorting-order.sorting-active a {
  opacity: 1;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
}

.catalog-list-item {
  width: 360px;
  position: relative;
}

.catalog-list-item h3,
.filter-form legend,
.sender label,
.message {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000;
}
.catalog-list-item span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: right;
  color: #464646;
}

.catalog-list-item h3,
.catalog-list-item span {
  display: inline-block;
  vertical-align: top;
}

.catalog-list-item h3 {
  width: 254px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.catalog-list-item span {
  width: 100px;
  margin-top: 25px;
  text-align: right;
}

.catalog-list-item .actions {
  display: none;
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-list-item img:hover ~ .actions,
.catalog-list-item .actions:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions .add-to-compare {
  opacity: 0.5;
}

.add-to-cart,
.add-to-compare {
  text-align: center;
}

.add-to-compare {
  font-size: 13px;
  line-height: 36px;
  color: #000;
}

.add-to-compare:hover {
  opacity: 1;
}

.add-to-compare:active {
  opacity: 0.2;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active {
  opacity: 1;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:active,
.pagination-previous a,
.pagination-previous a:hover,
.pagination-next a:hover,
.pagination-next a {
  opacity: 1;
}

.pagination-previous a:active,
.pagination-next a:active {
  opacity: 0.3;
}

.main-footer {
  color: #fff;
  background-color: #454545;
}

.main-footer .site-service,
.main-footer .user-navigation a {
  /* opacity: 0.7; */
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .site-service:hover,
.main-footer .user-navigation a:hover {
  /* opacity: 1; */
  color: #fff;
}

.main-footer .site-service:active,
.main-footer .user-navigation a:active {
  /* opacity: 0.3; */
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.main-header .user-navigation a:hover,
.main-header .user-navigation a:focus,
.main-header .site-service:hover,
.main-header .site-service:focus {
  opacity: 0.6;
}

.footer-navigation a:active,
.site-navigation a:active,
.main-header .user-navigation a:active,
.main-header .site-service:active {
  opacity: 0.3;
}

/* .modal-map,
.modal-feedback {
  display: none;
} */


/* Сетки */

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  margin-top: 40px;
  min-height: 186px;
}

.index-header {
  min-height: 299px;
}

.nav-flex-container,
.info-flex-container,
.catalog-flex-container,
.categories-list,
.brands-list,
.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header .nav-flex-container,
.main-footer .nav-flex-container {
  align-items: center;
}

.main-footer .nav-first-row.nav-flex-container {
  align-items: flex-start;
}

.nav-first-row {
  margin-bottom: 30px;
}

.main-navigation {
  padding: 33px 60px;
}

.outline {
  outline: green solid 1px;
}

.header-right-column {
  width: 500px;
}

.main-header .user-navigation {
  margin-right: auto;
}

.site-navigation-services {
  width: 273px;
}

.site-services {
  width: 215px;
}

.main-footer .user-navigation {
  margin-right: 40px;
}

.main-footer .logo {
  margin-right: auto;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.main-footer {
  padding-top: 63px;
  padding-bottom: 65px;
  /* background-color: transparent; */
}

.nav-second-row {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  margin-bottom: 60px;
}

 .main-footer-address,
 .main-footer-phone {
   width: 260px;
 }

.main-footer-address {
  margin: 0;
}

.footer-navigation {
  min-width: 430px;
  color: #fff;
}

 /* .main-footer-address,
 .nav-second-row .footer-navigation,
 .main-footer-phone, */
 /* .footer-decoration,
 .footer-social,
 .academy {
   flex: 1;
 } */

 .main-footer-phone,
 .academy {
   text-align: right;
 }

 .nav-third-row {
   display: flex;
   justify-content: space-between;
   min-height: 35px;
 }

 .nav-third-row::before {
   content: "";
   position: relative;
   width: 80px;
   height: 7px;
   top: 14px;
   background-color: #ffc501;
 }

 .map-mini {
   display: block;
   margin-top: 38px;
   margin-bottom: 60px;
 }

 .index-info-column {
   width: 560px;
   min-height: 565px;
   margin-bottom: 81px;
 }

 .index-info-column::before {
   content: "";
   position: relative;
   display: block;
   width: 80px;
   height: 7px;
   background-color: #000;
 }

 .index-info-column p {
   /* letter-spacing: -0.01em; */
   margin-top: 28px;
   margin-bottom: 28px;
 }

 .index-info-column .button {
   display: inline-block;
   width: 260px;
   height: 40px;
   padding: 8px 0px;
   box-sizing: border-box;
   text-align: center;
   vertical-align: middle;
   position: relative;
 }

 .index-info-column .button::before {
   content: "";
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 8px;
   left: 0;
   top: 16px;
   background-color: #f0c42f;
 }

 .index-info-column .button:active {
  color: rgba(0, 0, 0, 0.3);
 }

 .index-info-column .button:hover::before,
 .index-info-column .button:focus::before,
 .index-info-column .button:active::before {
   height: 40px;
   top: 0;
 }

 .user-navigation li:not(:last-child) {
   margin-right: 20px;
 }

 .catalog,
 .sorting {
   width: 760px;
 }

 .catalog-list {
   display: flex;
   flex-wrap: wrap;
 }

 .catalog-list-item:nth-of-type(odd) {
   margin-right: 40px;
 }

.breadcrumbs {
  display: flex;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
}

.catalog-heading {
  width: 1040px;
  margin: 0 auto;
}

.filter {
  width: 200px;
  margin-left: 60px;
}

.pagination,
.sorting-list,
.sorting {
  display: flex;
}

.popular-item-active {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 93px;
}

.popular-item-active .popular-description {
  margin-left: 40px;
}

.categories-list li {
  width: 160px;
  min-height: 250px;
}

.brands-list {
  margin-bottom: 90px;
}

.brands-list li {
  position: relative;
}

.brands-list li::after {
  content: "";
  width: 260px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brands-list li:hover::after {
  display: block;
}

.brand-1::after {
  background-image: url("../img/logo-1-color.jpg");
}

.brand-2::after {
  background-image: url("../img/logo-2-color.jpg");
}

.brand-3::after {
  background-image: url("../img/logo-3-color.jpg");
}

.brand-4::after {
  background-image: url("../img/logo-4-color.jpg");
}

.services-controls {
  width: 280px;
}

.services-content {
  width: 760px;
}

.services-wrapper {
  margin-bottom: 94px;
}

.popular-description {
  width: 560px;
}


/* Декоративные элементы */

.main-navigation {
  position: relative;
}

.header-logo {
  position: absolute;
  top: -17px;
}

.search-form {
  width: 440px;
  position: relative;
  margin-right: 100px;
  font-size: 0;
}

.search-form-input {
  opacity: 0.3;
}

.search-form-input:hover {
  opacity: 0.6;
}

.search-form-input:focus {
  opacity: 1;
}

.search-form-input:focus + .search-form-submit {
  opacity: 1;
}

.search-form-submit {
  opacity: 0;
}

.search-form-input {
  font-size: 15px;
  width: 355px;
  height: 49px;
  padding: 0;
  padding-left: 38px;
  border: none;
  background-color: transparent;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 18px;
  left: 3px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.search-form-submit::after {
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  left: 0;
  bottom: 0;
  /* background-color: #000000; */
  /* IE constantly shows ::after element */
  background-color: transparent;
}

/* IE constantly shows ::after element */
.search-form-input:focus + .search-form-submit::after,
.search-form-submit:focus::after {
  background-color: #000000;
}

.search-form-submit {
  width: 85px;
  height: 49px;
  border: 2px solid #000;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding: 0;
}

.search-form-input:focus + .search-form-submit:hover,
.search-form-submit:focus {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

.search-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-service {
  padding-left: 22px;
  position: relative;
}

.login {
  padding-left: 26px;
  position: relative;
}

.main-header .service-cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 0px;
  background-image: url("../img/cart.svg");
}

.main-header .service-compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 11px;
  left: 2px;
  background-image: url("../img/compare.svg");
}

.main-header .login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 4px;
  left: 0px;
  background-image: url("../img/user.svg");
}

.catalog-link {
  position: relative;
}

.site-navigation-catalog {
  position: relative;
}

.site-navigation-catalog::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  right: -27px;
  background-image: url("../img/plus.svg");
  opacity: 0.3;
}

.drop-down-menu {
  position: absolute;
  /* width: 100%; */
  min-height: 162px;
  /* top: 170px; */
  left: 0;
  margin-left: -60px;
  background-color: #f7e195;
  display: none;
  padding: 0 60px;
  padding-top: 23px;
  box-sizing: border-box;
}

.site-navigation-catalog:hover .drop-down-menu {
  display: flex;
}

.main-footer .nav-first-row {
  margin-bottom: 26px;
}


.main-footer .service-cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 0px;
  background-image: url("../img/cart-footer.svg");
}

.main-footer .service-compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 11px;
  left: 2px;
  background-image: url("../img/compare-footer.svg");
}

.main-footer .login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 4px;
  left: 0px;
  background-image: url("../img/user-footer.svg");
}

.academy {
  /* display: block; */
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  margin-left: 53px;
}

.academy:hover,
.academy:focus {
  opacity: 0.6;
}

.academy:active {
  opacity: 0.3;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  margin-right: 22px;
}

.social-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.social-in {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.social-tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.actions .button {
  /* display: inline-block; */
  display: block;
  width: 200px;
  height: 40px;
  padding: 8px 0px;
  box-sizing: border-box;
  /* text-align: center; */
  /* vertical-align: middle; */
  position: relative;
  z-index: 0;
}

.actions .button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #f0c42f;
}

.actions .button:active {
 color: rgba(0, 0, 0, 0.3);
}

.actions .button:hover::before,
.actions .button:focus::before,
.actions .button:active::before {
  height: 40px;
  top: 0;
}

.main-footer .site-service:hover::before,
.main-footer .site-service:focus::before,
.main-footer .user-navigation a:hover::before,
.main-footer .user-navigation a:focus::before {
  opacity: 0.6;
}

.main-footer .site-service:active::before,
.main-footer .user-navigation a:active::before {
  opacity: 0.3;
}

.modal-map {
  /* position: absolute; */
  width: 960px;
  height: 559px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(4, 5, 5, 0.2);
  position: relative;
}

.modal-feedback {
  width: 960px;
  height: 553px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(4, 5, 5, 0.2);
  position: relative;
  padding-top: 90px;
  box-sizing: border-box;
}

.modal-map button,
.modal-feedback  .button-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  opacity: 0.5;
  border-style: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
}

.modal-map button:hover,
.modal-map button:focus,
.modal-feedback .button-close:hover,
.modal-feedback .button-close:focus {
  opacity: 1;
}

.modal-map button:active,
.modal-feedback button:active {
  opacity: 0.3;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
}

.message {
  display: block;
}

.message textarea {
  /* display: block; */
  box-sizing: border-box;
  width: 760px;
  height: 156px;
  resize: none;
  margin-top: 10px;
}

.sender {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
}

.sender label {
  display: block;
  /* margin: 0; */
  width: 360px;
}

.sender input {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  margin-top: 10px;
}

.message textarea,
.sender input {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 15px 20px;
}

.feedback-form .button {
  display: inline-block;
  width: 200px;
  height: 40px;
  padding: 8px 0px;
  margin-top: 30px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border-style: none;
  background-color: transparent;
}

.feedback-form .button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #f0c42f;
}

.feedback-form .button:active {
 color: rgba(0, 0, 0, 0.3);
}

.feedback-form .button:hover::before,
.feedback-form .button:focus::before,
.feedback-form .button:active::before {
  height: 40px;
  top: 0;
}

.feedback-form input,
.feedback-form textarea {
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: #fff;
  border: 3px solid #efc52d;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: #f5d9d9;
  border: 3px solid #f5d9d9;
}
