@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    local("Gilroy Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  color: #464646;
  background-color: #fff;
  /* background-image: url("../img/device-index.jpg");
  background-repeat: no-repeat;
  background-position: -107px 100%; */
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-navigation,
.categories-navigation,
.user-navigation,
.footer-navigation,
.footer-social,
.breadcrumbs,
.catalog-list,
.categories-list,
.services-controls,
.brands-list,
.sorting-list,
.pagination,
.filter-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-font-style,
.button-font-style {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 4px;
  color: #000;
  text-transform: uppercase;
}

.main-header {
  background-color: #f7e195;
}

.search-form-input {
  opacity: 0.3;
}

.search-form-input:hover {
  opacity: 0.6;
}

.search-form-input:focus {
  opacity: 1;
}

.search-form-input:focus + .search-form-submit {
  display: inline;
}

.search-form-submit {
  display: none;
}

.categories-navigation {
  text-transform: none;
  display: none;
}

.breadcrumbs {
  opacity: 0.3;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.popular-item {
  display: none;
}

.popular-item-active {
  display: block;
}

.heading.popular-heading {
  line-height: 56px;
}

.popular-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #000000;
}

.popular-property {
  font-size: 13px;
  line-height: 20px;
}

.heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
}

.categories-list.navigation-font-style {
  letter-spacing: 0;
  text-transform: none;
}

.categories-list a:active {
  opacity: 0.3;
}

.delivery-services-list {
  list-style-type: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
}

.filter-heading,
.sorting-heading,
.pagination-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-type a,
.sorting-order a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-type a:hover {
  opacity: 0.6;
}

.sorting-type a:active {
  opacity: 1;
}

.sorting-type.sorting-active a,
.sorting-order.sorting-active a {
  opacity: 1;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
}

.catalog-list-item h3,
.filter-form legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000;
}
.catalog-list-item span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: right;
  color: #464646;
}

.catalog-list-item img:hover ~ .add-to-cart {
  opacity: 1;
}

.catalog-list-item img:hover ~ .add-to-compare {
  opacity: 0.5;
}

.add-to-cart,
.add-to-compare {
  opacity: 0;
  text-align: center;
}

.add-to-compare {
  font-size: 13px;
  line-height: 36px;
  color: #000;
}

.add-to-compare:hover {
  opacity: 1;
}

.add-to-compare:active {
  opacity: 0.2;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active {
  opacity: 1;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:active,
.pagination-previous a,
.pagination-previous a:hover,
.pagination-next a:hover,
.pagination-next a {
  opacity: 1;
}

.pagination-previous a:active,
.pagination-next a:active {
  opacity: 0.3;
}

.main-footer {
  color: #fff;
  background-color: #454545;
}

.main-footer .site-service,
.main-footer .user-navigation a {
  opacity: 0.7;
}

.main-footer .site-service:hover,
.main-footer .user-navigation a:hover {
  opacity: 1;
}

.main-footer .site-service:active,
.main-footer .user-navigation a:active {
  opacity: 0.3;
}

.footer-navigation a:hover,
.site-navigation a:hover,
.main-header .user-navigation a:hover,
.main-header .site-service:hover {
  opacity: 0.6;
}

.footer-navigation a:active,
.site-navigation a:active,
.main-header .user-navigation a:active,
.main-header .site-service:active {
  opacity: 0.3;
}

.modal-map,
.modal-feedback {
  display: none;
}


/* Сетки */

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  margin-top: 40px;
  min-height: 300px;
}

.nav-flex-container,
.info-flex-container,
.catalog-flex-container,
.categories-list,
.brands-list {
  display: flex;
  justify-content: space-between;
}

.nav-first-row {
  margin-bottom: 30px;
}

.main-navigation {
  padding: 40px 60px;
}

.search-form {
  width: 440px;
  height: 50px;
  margin-right: 100px;
}

.outline {
  outline: green solid 1px;
}

.header-right-column {
  width: 500px;
}

.main-header .user-navigation {
  margin-right: auto;
}

.site-navigation-services {
  width: 270px;
}

.site-services {
  width: 215px;
}

.main-footer .user-navigation {
  margin-right: 40px;
}

.main-footer .logo {
  margin-right: auto;
}

.main-footer {
  padding-top: 65px;
  padding-bottom: 65px;
  /* background-color: transparent; */
}

.nav-second-row {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
  margin-bottom: 60px;
}

.main-footer-address {
  margin: 0;
}

.footer-navigation {
  min-width: 430px;
  color: #fff;
}

 .main-footer-address,
 .nav-second-row .footer-navigation,
 .main-footer-phone,
 .footer-decoration,
 .footer-social,
 .academy {
   flex: 1;
 }

 .main-footer-phone,
 .academy {
   text-align: right;
 }

 .nav-third-row {
   display: flex;
   min-height: 35px;
 }

 .index-info-column {
   width: 560px;
   min-height: 560px;
 }

 .user-navigation li:not(last-child) {
   margin-right: 20px;
 }

 .catalog,
 .sorting {
   width: 760px;
 }

 .catalog-list {
   display: flex;
   flex-wrap: wrap;
 }

 .catalog-list-item:nth-of-type(odd) {
   margin-right: 40px;
 }

.breadcrumbs {
  display: flex;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
}

.catalog-heading {
  width: 1040px;
  margin: 0 auto;
}

.filter {
  width: 200px;
  margin-left: 60px;
}

.pagination,
.sorting-list,
.sorting {
  display: flex;
}

.popular-item {
  display: flex;
}

.categories-list li {
  width: 160px;
  min-height: 250px;
}

.brands-list {
  margin-bottom: 90px;
}
