@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilroy ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    local("Gilroy Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  color: #464646;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-navigation,
.categories-navigation,
.user-navigation,
.footer-navigation,
.footer-social,
.breadcrumbs,
.catalog-list,
.categories-list,
.popular-controls,
.popular-list,
.services-controls,
.brands-list,
.sorting-list,
.pagination,
.filter-form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-font-style,
.button-font-style {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  /* letter-spacing: 4px; */
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;
}

.main-header {
  background-color: #f7e195;
}

.categories-navigation {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: #000;
  width: 200px;
}

.categories-navigation:first-of-type {
  margin-right: 40px;
}

.breadcrumbs {
  opacity: 0.3;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 9px;
  right: -20px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.popular-item {
  display: none;
  min-height: 511px;
}

.popular-item-active {
  display: block;
}

.heading.popular-heading {
  line-height: 56px;
}

.popular-value {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #000000;
}

.popular-property {
  font-size: 13px;
  line-height: 20px;
}

.heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.01em;;
  color: #000000;
}

.categories-list.navigation-font-style {
  letter-spacing: 0.01em;
  text-transform: none;
}

.categories-list {
  margin-bottom: 72px;
}

.categories-list a::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  position: relative;
  top: -33px;
  background-color: rgba(240, 196, 46, 0.5);
}

.categories-list a::after {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.categories-list a:hover::before,
.categories-list a:focus::before,
.categories-list a:active::before {
  background-color: rgb(240, 196, 46);
}

.categories-list a:active::after {
  opacity: 0.3;
}

.categories-list a {
  display: block;
  padding-top: 33px;
  position: relative;
}

.categories-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.categories-list .category-item-1::after {
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px;
}

.categories-list .category-item-2::after {
  background-image: url("../img/popular-2.svg");
  background-position: 38px 41px;
}

.categories-list .category-item-3::after {
  background-image: url("../img/popular-3.svg");
  background-position: 49px 38px;
}

.categories-list .category-item-4::after {
  background-image: url("../img/popular-4.svg");
  background-position: 28px 50px;
}

.categories-list .category-item-5::after {
  background-image: url("../img/popular-5.svg");
  background-position: 55px 32px;
}

.categories-list .category-item-6::after {
  background-image: url("../img/popular-6.svg");
  background-position: 13px 49px;
}

.delivery-services-list {
  list-style-type: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
  margin-top: 67px;
  margin-bottom: 55px;
  padding-left: 35px;
}

.delivery-services-list li {
  position: relative;
}

.delivery-services-list li::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: -34px;
}

.filter-heading,
.sorting-heading,
.pagination-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.23em;
  color: #000000;
  text-transform: uppercase;
}

.sorting-type a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-type a:hover {
  opacity: 0.6;
}

.sorting-order a {
  opacity: 0.2;
}

.sorting-order a:hover {
  opacity: 0.4;
}

.sorting-type a:active,
.sorting-order a:active {
  opacity: 1;
}

.sorting-type.sorting-active a,
.sorting-order.sorting-active a {
  opacity: 1;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
}

.catalog-list-item {
  width: 360px;
  position: relative;
}

.catalog-list-item h3,
.filter-form legend,
.sender label,
.message {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000;
}
.catalog-list-item span {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: right;
  color: #464646;
}

.catalog-list-item h3,
.catalog-list-item span {
  display: inline-block;
  vertical-align: top;
}

.catalog-list-item h3 {
  width: 260px;
  margin-top: 23px;
  margin-bottom: 36px;
}

.catalog-list-item:nth-of-type(2) h3 {
  width: 237px;
  padding-right: 23px;
}

.catalog-list-item span {
  width: 100px;
  margin-top: 23px;
  text-align: right;
}

.catalog-list-item .actions {
  display: none;
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-list-item img:hover ~ .actions,
.catalog-list-item .actions:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions .add-to-compare {
  opacity: 0.5;
}

.add-to-cart,
.add-to-compare {
  text-align: center;
}

.add-to-compare {
  font-size: 13px;
  line-height: 36px;
  color: #000;
}

.add-to-compare:hover {
  opacity: 1;
}

.add-to-compare:active {
  opacity: 0.2;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:active {
  opacity: 1;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:active,
.pagination-previous a,
.pagination-previous a:hover,
.pagination-next a:hover,
.pagination-next a {
  opacity: 1;
}

.pagination-previous a:active,
.pagination-next a:active {
  opacity: 0.3;
}

.main-footer {
  min-width: 1200px;
  padding-top: 63px;
  padding-bottom: 65px;
  color: #fff;
  background-color: #454545;
}

.main-footer .site-service,
.main-footer .user-navigation a {
  /* opacity: 0.7; */
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .site-service:hover,
.main-footer .user-navigation a:hover {
  /* opacity: 1; */
  color: #fff;
}

.main-footer .site-service:active,
.main-footer .user-navigation a:active {
  /* opacity: 0.3; */
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.main-header .user-navigation a:hover,
.main-header .user-navigation a:focus,
.main-header .site-service:hover,
.main-header .site-service:focus {
  opacity: 0.6;
}

.footer-navigation a:active,
.site-navigation a:active,
.main-header .user-navigation a:active,
.main-header .site-service:active {
  opacity: 0.3;
}

/* .modal-map,
.modal-feedback {
  display: none;
} */


/* Сетки */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-top: 40px;
  min-height: 186px;
}

.index-header {
  min-height: 299px;
  position: relative;
}

.nav-flex-container,
.info-flex-container,
.catalog-flex-container,
.categories-list,
.brands-list,
.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header .nav-flex-container,
.main-footer .nav-flex-container {
  align-items: center;
}

.main-footer .nav-first-row.nav-flex-container {
  align-items: flex-start;
}

.nav-first-row {
  margin-bottom: 30px;
}

.main-navigation {
  padding: 33px 60px;
}

.outline {
  outline: green solid 1px;
}

.header-right-column {
  width: 500px;
}

.main-header .user-navigation {
  margin-right: auto;
}

.site-navigation-services {
  width: 273px;
}

.site-services {
  width: 215px;
}

.main-footer .user-navigation {
  margin-right: 40px;
}

.main-footer .logo {
  margin-right: auto;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.nav-second-row {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  margin-bottom: 60px;
}

 .main-footer-address,
 .main-footer-phone {
   width: 260px;
 }

.main-footer-address {
  margin: 0;
}

.footer-navigation {
  min-width: 430px;
  color: #fff;
}

 /* .main-footer-address,
 .nav-second-row .footer-navigation,
 .main-footer-phone, */
 /* .footer-decoration,
 .footer-social,
 .academy {
   flex: 1;
 } */

 .main-footer-phone,
 .academy {
   text-align: right;
 }

 .nav-third-row {
   display: flex;
   justify-content: space-between;
   min-height: 35px;
 }

 .nav-third-row::before {
   content: "";
   position: relative;
   width: 80px;
   height: 7px;
   top: 14px;
   background-color: #ffc501;
 }

 .map-mini {
   display: block;
   margin-top: 38px;
   margin-bottom: 60px;
 }

 .index-info-column {
   width: 560px;
   min-height: 565px;
   margin-bottom: 81px;
 }

 .index-info-column::before {
   content: "";
   position: relative;
   display: block;
   width: 80px;
   height: 7px;
   background-color: #000;
 }

 .index-info-column h2 {
   margin-top: 44px;
   margin-bottom: 43px;
 }

 .index-info-column p {
   /* letter-spacing: -0.01em; */
   /* margin-top: 28px; */
   margin-bottom: 30px;
 }

.index-info-about p {
  width: 475px;
}

.index-info-column .button {
  display: inline-block;
  width: 260px;
  height: 40px;
  padding: 8px 0px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

 .index-info-column .button::before {
   content: "";
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 8px;
   left: 0;
   top: 16px;
   background-color: #f0c42f;
 }

 .index-info-column .button:active {
  color: rgba(0, 0, 0, 0.3);
 }

 .index-info-column .button:hover::before,
 .index-info-column .button:focus::before,
 .index-info-column .button:active::before {
   height: 40px;
   top: 0;
 }

 .user-navigation li:not(:last-child) {
   margin-right: 20px;
 }

 .catalog,
 .sorting {
   width: 760px;
 }

 .catalog-list {
   display: flex;
   flex-wrap: wrap;
   align-content: space-between;
   min-height: 1002px;
 }

 .catalog-list-item:nth-of-type(odd) {
   margin-right: 40px;
 }

.breadcrumbs {
  display: flex;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 40px;
}

.catalog-heading {
  width: 1040px;
  margin: 0 auto;
  padding-top: 37px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 46px;
}

.filter {
  width: 201px;
  padding-top: 23px;
  margin-left: 59px;
}

.pagination,
.sorting-list,
.sorting {
  display: flex;
}

.popular-item-active {
  display: flex;
  justify-content: flex-end;
}

.categories-list li {
  width: 160px;
  min-height: 250px;
}

.categories-list li:nth-of-type(2) a {
  width: 127px;
}

.brands-list {
  margin-bottom: 84px;
}

.brands-list li {
  position: relative;
}

.brands-list li::after {
  content: "";
  width: 260px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.brands-list li:hover::after {
  display: block;
}

.brand-1::after {
  background-image: url("../img/logo-1-color.jpg");
}

.brand-2::after {
  background-image: url("../img/logo-2-color.jpg");
}

.brand-3::after {
  background-image: url("../img/logo-3-color.jpg");
}

.brand-4::after {
  background-image: url("../img/logo-4-color.jpg");
}

.services-controls {
  width: 277px;
  padding-top: 80px;
  padding-bottom: 70px;
  border-right: 7px solid #000;
}

.services-content {
  width: 760px;
}

.services-content h3 {
  margin-top: 44px;
  margin-bottom: 31px;
}

.services-wrapper {
  min-height: 319px;
  margin-bottom: 163px;
  position: relative;
}

.popular-description {
  width: 460px;
  margin-left: 40px;
  padding-right: 100px;
  padding-top: 93px;
}

.popular-description.popular-01 {
  width: 481px;
  padding-right: 79px;
}

/* Декоративные элементы */

.main-navigation {
  position: relative;
}

.header-logo {
  position: absolute;
  top: -19px;
}

.search-form {
  width: 440px;
  position: relative;
  margin-right: 100px;
  font-size: 0;
}

.search-form-input {
  opacity: 0.3;
}

.search-form-input:hover {
  opacity: 0.6;
}

.search-form-input:focus {
  opacity: 1;
}

.search-form-input:focus + .search-form-submit {
  opacity: 1;
}

.search-form-submit {
  opacity: 0;
}

.search-form-input {
  font-size: 15px;
  width: 355px;
  height: 49px;
  padding: 0;
  padding-left: 38px;
  border: none;
  background-color: transparent;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 18px;
  left: 3px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.search-form-submit::after {
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  left: 0;
  bottom: 0;
  /* background-color: #000000; */
  /* IE constantly shows ::after element */
  background-color: transparent;
}

/* IE constantly shows ::after element */
.search-form-input:focus + .search-form-submit::after,
.search-form-submit:focus::after {
  background-color: #000000;
}

.search-form-submit {
  width: 85px;
  height: 49px;
  border: 2px solid #000;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding: 0;
}

.search-form-input:focus + .search-form-submit:hover,
.search-form-submit:focus {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

.search-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-service {
  padding-left: 22px;
  position: relative;
}

.login {
  padding-left: 26px;
  position: relative;
}

.main-header .service-cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 0px;
  background-image: url("../img/cart.svg");
}

.main-header .service-compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 11px;
  left: 2px;
  background-image: url("../img/compare.svg");
}

.main-header .login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 4px;
  left: 0px;
  background-image: url("../img/user.svg");
}

.catalog-link {
  position: relative;
}

.site-navigation-catalog {
  position: relative;
}

.site-navigation-catalog::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  right: -27px;
  background-image: url("../img/plus.svg");
  opacity: 0.3;
}

.drop-down-menu {
  position: absolute;
  min-height: 163px;
  left: 0;
  margin-left: -60px;
  background-color: #f7e195;
  display: none;
  padding: 0 60px;
  padding-top: 23px;
  box-sizing: border-box;
  z-index: 1;
}

.site-navigation-catalog:hover .drop-down-menu {
  display: flex;
}

.main-footer .nav-first-row {
  margin-bottom: 26px;
}


.main-footer .service-cart::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 0px;
  background-image: url("../img/cart-footer.svg");
}

.main-footer .service-compare::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 11px;
  left: 2px;
  background-image: url("../img/compare-footer.svg");
}

.main-footer .login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 4px;
  left: 0px;
  background-image: url("../img/user-footer.svg");
}

.academy {
  /* display: block; */
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  margin-left: 53px;
}

.academy:hover,
.academy:focus {
  opacity: 0.6;
}

.academy:active {
  opacity: 0.3;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  margin-right: 22px;
}

.social-fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.social-in {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.social-tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.actions .button {
  /* display: inline-block; */
  display: block;
  width: 200px;
  height: 40px;
  padding: 8px 0px;
  box-sizing: border-box;
  /* text-align: center; */
  /* vertical-align: middle; */
  position: relative;
  z-index: 0;
}

.actions .button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #f0c42f;
}

.actions .button:active {
 color: rgba(0, 0, 0, 0.3);
}

.actions .button:hover::before,
.actions .button:focus::before,
.actions .button:active::before {
  height: 40px;
  top: 0;
}

.main-footer .site-service:hover::before,
.main-footer .site-service:focus::before,
.main-footer .user-navigation a:hover::before,
.main-footer .user-navigation a:focus::before {
  opacity: 0.6;
}

.main-footer .site-service:active::before,
.main-footer .user-navigation a:active::before {
  opacity: 0.3;
}

.modal-map {
  /* position: absolute; */
  width: 960px;
  height: 559px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(4, 5, 5, 0.2);
  position: relative;
}

.modal-feedback {
  width: 960px;
  height: 553px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(4, 5, 5, 0.2);
  position: relative;
  padding-top: 90px;
  box-sizing: border-box;
}

.modal-map button,
.modal-feedback  .button-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  opacity: 0.5;
  border-style: none;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
}

.modal-map button:hover,
.modal-map button:focus,
.modal-feedback .button-close:hover,
.modal-feedback .button-close:focus {
  opacity: 1;
}

.modal-map button:active,
.modal-feedback .button-close:active {
  opacity: 0.3;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
}

.message {
  display: block;
}

.message textarea {
  /* display: block; */
  box-sizing: border-box;
  width: 760px;
  height: 156px;
  resize: none;
  margin-top: 10px;
}

.sender {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
}

.sender label {
  display: block;
  /* margin: 0; */
  width: 360px;
}

.sender input {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  margin-top: 10px;
}

.message textarea,
.sender input {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 15px 20px;
}

.feedback-form .button {
  display: inline-block;
  width: 200px;
  height: 40px;
  padding: 8px 0px;
  margin-top: 30px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border-style: none;
  background-color: transparent;
}

.feedback-form .button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #f0c42f;
}

.feedback-form .button:active {
 color: rgba(0, 0, 0, 0.3);
}

.feedback-form .button:hover::before,
.feedback-form .button:focus::before,
.feedback-form .button:active::before {
  height: 40px;
  top: 0;
}

.feedback-form input,
.feedback-form textarea {
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: #fff;
  border: 3px solid #efc52d;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: #f5d9d9;
  border: 3px solid #f5d9d9;
}

.popular {
  position: relative;
}

.popular-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78px;
  height: 12px;
  position: absolute;
  top: 341px;
  right: 83px;
}

.popular-controls button {
  width: 12px;
  height: 12px;
  display: block;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  /* border: 1px solid #000; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M11.5 2c5.238 0 9.5 4.262 9.5 9.5S16.738 21 11.5 21 2 16.738 2 11.5 6.262 2 11.5 2m0-2C5.149 0 0 5.149 0 11.5 0 17.852 5.149 23 11.5 23 17.852 23 23 17.852 23 11.5 23 5.149 17.852 0 11.5 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.popular-controls .popular-controls-active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M11.5 2c5.238 0 9.5 4.262 9.5 9.5S16.738 21 11.5 21 2 16.738 2 11.5 6.262 2 11.5 2m0-2C5.149 0 0 5.149 0 11.5 0 17.852 5.149 23 11.5 23 17.852 23 23 17.852 23 11.5 23 5.149 17.852 0 11.5 0z'/%3E%3Cpath d='M11.5 9.004a2.5 2.5 0 0 1 2.496 2.496 2.5 2.5 0 0 1-2.496 2.496A2.5 2.5 0 0 1 9.004 11.5 2.5 2.5 0 0 1 11.5 9.004m0-2a4.496 4.496 0 1 0 0 8.992 4.496 4.496 0 0 0 0-8.992z'/%3E%3C/svg%3E");
}

.popular-item-properties {
  width: 100%;
  border-collapse: collapse;
}

.popular-item-properties td:first-of-type {
  width: 157px;
}

.popular-item-properties td:nth-of-type(2) {
  width: 137px;
}


.popular-item-properties tbody{
  display: flex;
  flex-direction: column;
}

.popular-property {
  order: 1;
  padding-top: 5px;
}

.popular-description p {
  letter-spacing: 0.01em;
}

.popular-description::before {
  /* content: ""; */
  position: absolute;
  display: inline-block;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 0.01em;
  /* text-align: right; */
  color: #fff;
  /* z-index: 1; */
  top: 0;
  right: 46px;
}

.popular-01::before {
  content: "01";
}

.popular-02::before {
  content: "02";
}

.popular-03::before {
  content: "03";
}

.popular-heading {
  position: relative;
  width: 560px;
  margin-top: 0;
  margin-bottom: 20px;
}
.popular-description .button {
  display: inline-block;
  width: 220px;
  height: 40px;
  padding: 8px 0px;
  margin-top: 27px;
  margin-bottom: 49px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.popular-description .button::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #f0c42f;
}

.popular-description .button:active {
 color: rgba(0, 0, 0, 0.3);
}

.popular-description .button:hover::before,
.popular-description .button:focus::before,
.popular-description .button:active::before {
  height: 40px;
  top: 0;
}

.index-header::after {
  content: "";
  width: 100px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  top: 225px;
  left: 600px;
  /* z-index: -1; */
}

.popular-item:nth-of-type(1) img {
  margin-top: 14px;
  margin-right: 86px;
}

.popular-item:nth-of-type(2) img {
  margin-top: 26px;
  margin-right: 99px;
}

.popular-item:nth-of-type(3) img {
  margin-top: 79px;
  margin-right: 3px;
}

.popular-item-margins {
  margin-top: -125px;
  margin-bottom: 95px;
}

.services-controls .button,
.services-controls .button-active {
  display: inline-block;
  width: 160px;
  height: 40px;
  position: relative;
  background-color: transparent;
  border: none;
}

.services-controls li {
  margin-bottom: 24px;
}
.services-controls li:last-child {
  margin-bottom: 0;
}

.services-controls .button::before,
.services-controls .button-active::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #f0c42f;
}

.services-controls .button:active,
.services-controls .button-active {
  color: #f7e184;
}

.services-controls .button:hover::before,
.services-controls .button:focus::before,
.services-controls .button-active::before {
  height: 40px;
  top: 0;
}

.services-controls .button:active::before,
.services-controls .button-active::before {
  width: 277px;
  background-color: #000;
}

.services-content > div {
  display: none;
}

.services-content > .services-content-active {
  display: block;
  padding-top: 29px;
}

.services-content-active p {
  width: 437px;
  letter-spacing: 0.01em;
}

.services {
  position: relative;
}

.services::after {
  content: "";
  position: absolute;
  z-index: -2;
  /* height: 288px; */
  top: 100px;
  bottom: -69px;
  left: 0;
  right: 0;
  min-width: 1200px;
  background-color: #e5e5e5;
}

.services-content-delivery::after {
  content: "";
  width: 136px;
  height: 164px;
  display: block;
  position: absolute;
  top: 85px;
  right: 66px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
}

.services-content-warranty::after {
  content: "";
  width: 171px;
  height: 194px;
  display: block;
  position: absolute;
  top: 61px;
  right: 46px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
}

.services-content-credit::after {
  content: "";
  width: 156px;
  height: 186px;
  display: block;
  position: absolute;
  top: 61px;
  right: 70px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
}
 .catalog-heading .heading {
   margin: 0;
   margin-bottom: 24px;
 }

 .sorting {
   min-height: 51px;
   align-items: baseline;
   padding-top: 19px;
 }

 .pagination {
   min-height: 70px;
   align-items: baseline;
   background-color: rgba(0, 0, 0, 0.08);
 }

 .sorting-heading {
   margin: 0;
   margin-right: 51px;
 }

 .sorting-type {
   margin-right: 30px;
 }

 .catalog {
   padding-top: 69px;
   padding-bottom: 76px;
 }

.catalog-item-new::before {
  content: "NEW";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  top: 29px;
  right: 27px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  padding-top: 17px;
  padding-left: 5px;
  box-sizing: border-box;
}

.catalog-content-wrapper {
  position: relative;
}

.catalog-flex-container::before {
  content: "";
  position: absolute;
  width: calc(50vw - 259px);
  min-width: 328px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #efefef;
}

.catalog-flex-container::after {
  content: "";
  position: absolute;
  height: 70px;
  min-width: 1200px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting-list {
  width: 560px;
}

.sorting-order-up {
  margin-left: auto;
  margin-right: 19px;
}

.sorting-order a::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
}

.sorting-order-up a::before {
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-order-down a::before {
  background-image: url("../img/icon-down-dir.svg");
}

.pagination-item {
  padding: 23px 14px;
}

.pagination-previous {
  padding: 23px 30px;
  margin-right: auto;
}

.pagination-next {
  padding: 23px 25px;
  margin-left: auto;
}

.filter-heading {
  margin: 0;
  margin-bottom: 92px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  /* border-top: 2px solid #000; */
}

.filter-form-price {
  font-size: 0;
}

.filter-form-price label,
.filter-form-price input {
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter-form-price label {
  display: inline-block;
}

.filter-form-price input {
  width: 33%;
  padding: 0 5px;
  margin: 8px 0;
  border: none;
  background-color: transparent;
}

.filter-form legend {
  width: 100%;
  padding-top: 10px;
  border-top: 2px solid #000;
}

.filter-form-price {
  position: relative;
  min-height: 140px;
}

.filter-form-price legend {
  margin-bottom: 38px;
}

.range-controls::before,
.range-controls::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: calc(100% - 5px);
  top: 71px;
  left: 5px;
}

.range-controls::before {
  background-color: #dbdbdb;
}

.range-controls::after {
  width: 110px;
  background-color: #90c82f;
}

.range-controls-min,
.range-controls-max {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 61px;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  z-index: 1;

}

.range-controls-min:hover,
.range-controls-max:hover {
  /* border-width: 9px;
  top: 60px; */
  transform: scale(1.1);
}

.range-controls-min {
  left: -5px;
}

.range-controls-max {
  left: 108px;
}

.filter-form-color {
  min-height: 285px;
  color: #000;
}

.filter-form-bluetooth {
  min-height: 165px;
}

.filter-form-submit {
  width: 200px;
  height: 40px;
  position: relative;
  background-color: transparent;
  border: none;
}

.filter-form-submit::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  left: 0;
  top: 16px;
  background-color: #f0c42f;
}

.filter-form-submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter-form-submit:hover::before,
.filter-form-submit:focus::before,
.filter-form-submit:active::before {
  height: 40px;
  top: 0;
}

.filter-form-color ul,
.filter-form-bluetooth ul {
  margin-top: 18px;
}

.filter-form-color label,
.filter-form-bluetooth label {
  padding-left: 40px;
  position: relative;
}

.filter-form-color span::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -1px;
  top: -2px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-form-color input:checked + span::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-form-color label:hover span::before,
.filter-form-color input:focus + span::before {
  opacity: 0.6;
}

.filter-form-color input:active + span::before {
  opacity: 1;
}

.filter-form-color input:disabled + span::before {
  opacity: 0.25;
}

.filter-form-color input:disabled + span {
  color: #a6a6a6;
}

.filter-form-bluetooth span::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -1px;
  top: -4px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-form-bluetooth input:checked + span::before {
  background-image: url("../img/radio-on.svg");
}

.filter-form-bluetooth label:hover span::before,
.filter-form-bluetooth input:focus + span::before {
  opacity: 0.6;
}

.filter-form-bluetooth input:active + span::before {
  opacity: 1;
}

.filter-form-bluetooth input:disabled + span::before {
  opacity: 0.25;
}

.filter-form-bluetooth input:disabled + span {
  color: #a6a6a6;
}
